html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#wallpaper {
  font-family: "EnvyCodeR Nerd Font Mono", monospace;
  background: #333366;
  height: 100vh;
  width: 100%;
}
